@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Reset default margin and padding */
body, h1, h2, p, ul, li, input, textarea, button, select {
  margin: 0;
  padding: 0;
}

/* Set all elements to use the Open Sans font */
body, input, textarea, button, select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* Set a background color for all pages */
html, body {
  background-color: #F2F2F2;
}

/* Style the navigation list */
header nav ul {
  background-color: #3498db; /* Dark blue color for the navbar */
  border-bottom: 1px solid #2980b9; /* Slightly darker border color */
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 1em;
  text-align: right; /* Align the navigation items to the right */
}

/* Style the navigation list items */
header nav ul li {
  display: inline-block;
  margin-left: 1em;
}

/* Style the navigation links */
header nav ul li a {
  color: #fff; /* White text color for links */
  font-weight: bold;
  text-decoration: none;
}

footer {
    padding: 24px 0;
    background-color: #3498db;
    margin-top: 32px;
    padding: 32px;
    color: #fff; /* White text color for links */
    font-weight: bold;
    text-decoration: none;
  }

/* Improve the appearance of input elements */
input, select, textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em;
  margin-bottom: 1em;
}

/* Style buttons for a cleaner look */
button {
  padding: 0.5em 1em;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

/* Add a box shadow to forms for a subtle elevation effect */
.login-form,
.signup-form,
.task-form,
.project-form,
.my-tasks-list,
.project-list,
.project-detail {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 800px;
  padding: 2em;
}

/* Add spacing to the section of the project detail */
.project-detail h2 {
  margin-top: 2em;
}

/* Style table headers */
.my-tasks-list th,
.project-list th,
.project-detail th {
  padding: 1em;
  background-color: #3498db;
  color: #fff;
}

/* Style table cells */
.my-tasks-list td,
.project-list td,
.project-detail td {
  padding: 1em;
  text-align: center;
}

/* Add a bottom border to the table header tags */
.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
  border-bottom: 2px solid #2980b9;
}

/* Center align the text on specific table header cells */
.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
  text-align: center;
}

/* Add horizontal rules to all rows except the last */
.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
  border-bottom: 1px solid #ccc;
}
