{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <title>Login</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="login-form">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <p>Enjoy the Value of List and Task Tracking </p>
        </div>
    </footer>
</body>
</html>
