{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <title>Create a New Project</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}

                <li>
                    <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                </li>
                <li>
                    <a href="{% url 'list_projects' %}">My Projects</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <div class="project-form">
            <h1>Create a New Project</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <p>Enjoy the Value of List and Task Tracking </p>
        </div>
    </footer>
</body>

</html>
