{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <title>{{ project.name }} Details</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'create_task' %}">New Tasks</a>
                </li>
                <li>
                    <a href="{% url 'create_project' %}">New Project</a>
                </li>
                <li>
                    <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                </li>
                <li>
                    <a href="{% url 'list_projects' %}">My Projects</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="project-detail">
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>

            <h2>Tasks</h2>

            {% if tasks %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Is Completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>
                            {% if task.assignee %} {{ task.assignee.username }} {% else %} Not assigned {% endif %}
                        </td>
                        <td>{{ task.start_date|date:"m/d/Y" }}</td>
                        <td>{{ task.due_date|date:"m/d/Y" }}</td>
                        <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <p>Enjoy the Value of List and Task Tracking </p>
        </div>
    </footer>
</body>

</html>
